@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, -apple-system, sans-serif;
  }

  body {
    @apply text-zinc-900 bg-zinc-50 dark:text-zinc-100 dark:bg-zinc-900;
  }

  .app.dark {
    background: #181818;
    color: #fff;
  }

  .app.light {
    background: #fff;
    color: #181818;
  }
}
